if SHIELD_DIGITUS42_LEFT

config ZMK_KEYBOARD_NAME
    default "Digitus 42"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_DIGITUS42_LEFT || SHIELD_DIGITUS42_RIGHT

config ZMK_SPLIT
    default y

endif